{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    {% include 'bookstore/header.html' %}
    <div class="book-detail">
        <h2>{{ book.title }}</h2>
        <p><strong>Author:</strong> {{ book.author }}</p>
        <p><strong>Publish Date:</strong> {{ book.publish_date }}</p>
        <p><strong>Pages:</strong> {{ book.pages }}</p>
        <p><strong>Price:</strong> {{ book.price }}</p>
        <p><strong>Genre:</strong> {{ book.genre }}</p>
        <p><strong>Likes:</strong> {{ book.likes }}</p>

        <!-- Like Button -->
        <form method="post" action="{% url 'detailBook' book.id %}">
            <input type="hidden" name="like">
            {% csrf_token %}
            <button type="submit">Like</button>
            <span>{{ book.likes.first.lik  }} Likes</span>
        </form>
        <form action="{% url 'deleteBook' book.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Delete Book</button>
        </form>
        <h3>Comments:</h3>
        <ul>
            {% for comment in comments %}
            <li>{{ comment.comment }}</li>
            <form method="post", action="{% url 'deleteComment' comment.id %}">
                {% csrf_token %}
                <button type="submit">Delete Book</button>
            </form>
            {% endfor %}
        </ul>
    </div>

    <form method="post" action="{% url 'detailBook' book.id %}">
        {% csrf_token %}
        <label for="comment">Comment:</label>
        <textarea id="comment" name="comment" required></textarea><br>
        <button type="submit">Add Comment</button>
    </form>
    {% include 'bookstore/footer.html' %}

</body>
</html>